%h3
  .text-center
    Activity
    .badge.badge-info
      =@activities.count
%p

%ul.list-group
  - @activities.each do |a|
    %li.list-group-item
    = a.trackable_type
    = a.trackable
    User:
    = a.owner
    = a.key
    on:
    = a.created_at.strftime('%d %b, %Y at %I:%M %p')
