%h1
  User profile

-# = render 'users/user', user: @user

%br
= link_to user_google_oauth2_omniauth_authorize_path,  method: :post, class: 'nav-link' do
  .fab.fa-google
  Sign in with Google
%br

- if @user.provider
  = @user.provider
  .row
- if @user.uid
  = @user.uid
  .row
- if @user.token
  = @user.token
  .row
- if @user.expires_at
  = @user.expires_at
  .row
- if @user.expires
  = @user.expires
  .row
- if @user.refresh_token
  = @user.refresh_token
  .row
- if @user.image
  = image_tag @user.image, size: '50x50', atl: "#{@user.email}", class: 'rounded-circle'
  .row
- if @user.name
  = @user.name
