= link_to 'Courses', courses_path
\/
= link_to @lesson.course.title, course_path(@lesson.course)
\/
= @lesson.title
%p

.cart
  .card-header
    = render 'lessons/lesson', lesson: @lesson
  .card-footer
    = link_to 'Back to course', course_path(@lesson.course)
