= link_to 'Courses', courses_path
\/
= link_to @lesson.course.title, course_path(@lesson.course)
\/
= @lesson.title
%p

.row
  .col-lg-8
    = render 'lessons/lesson', lesson: @lesson
  .col-lg-4
    %ul.list-group
      %li.list-group-item
        Course:
        = link_to @course.title, @course
        %p
        .fa.fa-spinner
        = number_to_percentage(@course.progress(current_user), precision: 0)
        - @lessons.each do |lesson|
          - if @lesson.present? && lesson == @lesson
            %li.list-group-item.list-group-item-success
              = render 'lessons/lesson_preview', lesson: lesson
          - else
            %li.list-group-item
              = render 'lessons/lesson_preview', lesson: lesson

