.card
  .card-header
    .fa.fa-graduation-cap
    = link_to course.title, course_path(course)
    %small= simple_format(course.short_description)
    - if course.image.attached?
      .card-img-top
        = image_tag course.image, width: '200px'
  .card-footer
    .fa.fa-globe-africa
    = course.language
    .fa.fa-signal
    = course.level
  .card-footer
    = enrollment_button(course)
    .row
    = review_button(course)
  .card-footer
    .fa.fa-tasks
      = course.lessons_count
  .card-footer
    .text-warning.fa.fa-star
    = course.average_rating
  .card-footer
    .fa.fa-user-graduate
    = course.enrollments_count
  .card-footer
    .far.fa-clock
    = course.created_at.strftime('%d-%b-%Y')
    .row
    .fa.fa-chalkboard-teacher
    = link_to course.user, user_path(course.user)
  - if current_user
    - if policy(course).owner?
      .card-footer
        = link_to 'Add lesson', new_course_lesson_path(course, @lesson), class: 'btn btn-outline-primary'
        = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger'
        = link_to 'Wizard', course_course_wizard_index_path(course), class: 'btn btn-outline-warning'
      - if policy(course).admin_or_owner?
        = link_to analytics_course_path(course), class: 'btn btn-sm btn-info' do
          .fa.fa-chart-bar
            Analytics
        .card-footer
          - if course.published?
            .badge.badge-success Published
          - else
            .badge.badge-danger Unpublished
          - if course.approved?
            .badge.badge-success Approved
          - else
            .badge.badge-danger Unapproved
    - if policy(course).approve?
      .card-footer
        - if course.approved?
          = link_to 'Unapprove', unapprove_course_path(course), method: :patch, class: 'btn btn-sm btn-danger'
        - else
          = link_to 'Approve', approve_course_path(course), method: :patch, class: 'btn btn-sm btn-success'

