.container
  - content_for :title do
    GemsBootcamp
    \|
    = @course.title

  = link_to 'Courses', courses_path
  \/
  = link_to @course.title, course_path(@course)
  %p
  .row
    .col-lg-6
      .sticky-top
        = render 'courses/course', course: @course
    %h3
      .fa.fa-tasks
      = pluralize(@course.lessons_count, 'lesson')
      %p
      .fa.fa-spinner
      = number_to_percentage(@course.progress(current_user), precision: 0)
      %p
      %ul.list-group
        - @lessons.each do |lesson|
          %li.list-group-item
            = render 'lessons/lesson_preview', lesson: lesson
  %p
  %h4
    .fa.fa-comment
    = pluralize(@enrollments_with_review.count, 'review')

  - @enrollments_with_review.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment
    %p

  -#%ul#sortable
  -#  %li.ui-state-default
  -#    %span.ui-icon.ui-icon-arrowthick-2-n-s>
  -#    Item 1
  -#  %li.ui-state-default
  -#    %span.ui-icon.ui-icon-arrowthick-2-n-s>
  -#    Item 2
  -#  %li.ui-state-default
  -#    %span.ui-icon.ui-icon-arrowthick-2-n-s>
  -#    Item 3
  -#  %li.ui-state-default
  -#    %span.ui-icon.ui-icon-arrowthick-2-n-s>
  -#    Item 4
  -#  %li.ui-state-default
  -#    %span.ui-icon.ui-icon-arrowthick-2-n-s>
  -#    Item 5
  -#  %li.ui-state-default
  -#    %span.ui-icon.ui-icon-arrowthick-2-n-s>
  -#    Item 6
  -#  %li.ui-state-default
  -#    %span.ui-icon.ui-icon-arrowthick-2-n-s>
  -#    Item 7