.container
  - content_for :title do
    GemsBootcamp
    \|
    = @course.title

  = link_to 'Courses', courses_path
  \/
  = link_to @course.title, course_path(@course)
  %p
  .row
    .col-lg-6
      .sticky-top
        = render 'courses/course', course: @course
    %h3
      .fa.fa-tasks
      = pluralize(@course.lessons_count, 'lesson')
      %p
      .fa.fa-spinner
      = number_to_percentage(@course.progress(current_user), precision: 0)
      %p
      %ul.list-group
        - @lessons.each do |lesson|
          %li.list-group-item
            = render 'lessons/lesson_preview', lesson: lesson
  %p
  .col-lg-6
  - if policy(@course).owner?
    = link_to 'Add lesson', new_course_lesson_path(@course, @lesson), class: "btn btn-outline-primary"
  %p
  %h4
    .fa.fa-comment
    = pluralize(@enrollments_with_review.count, 'review')

  - @enrollments_with_review.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment
    %p
